<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:method="post" th:action="@{/registration}" th:object="${user}">

    <label for="username">Enter username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <br/>

    <label for="password">Enter password</label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>

    <label for="year_of_birth">Enter year of birth</label>
    <input type="text" th:field="*{yearOfBirth}" id="year_of_birth"/>
    <div style="color: red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Year error</div>
    <br/>

    <input type="submit" value="Register">

</form>

</body>
</html>